# Vehicle importer wizard generated part configuration file #
# resource ID of this part: 0x0000002E
# resource alias of this part: "steering_wheel_Volante_yellow"

render		0x0000002F
click		0x00000028

category	2

slot		0.000 0.000 0.000	0.000 0.000 0.000	999
compatible	0x00020999 999 ; default steering wheel

eof
